#preloader {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #333333;
    z-index: 1999;
    position: fixed;
    display: block
}
.main-ld-txt {
    width: 300px;
    height: 70px;
    /*overflow: hidden;*/
    user-select:none;
    position: absolute;
    text-align: center;
    top: calc(50% - 35px + 74px);
    left: calc(50% - 150px);
    opacity: 0.65;
    font-family: 黑体;
    font-size: 15px;
    color: white;
}
#main-ld-skipbt{
    border-radius: 0.5em;
    background: #474747; /* #e8e8e8;*/
    cursor: pointer;
    border: 1px solid #696969;
    transition: transform .5s;

    width: 150px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: calc(50% - 20px + 95px);
    left: calc(50% - 75px);
    font-family: 楷体;
    opacity: 0.80;
    font-size: 20px;
    display: none;
    color: white;
}
#main-ld-skipbt:focus {
    outline: none;
}
#main-ld-skipbt:active{
    transform: scale(0.95);
}

#main-ld {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-ld-loader{
  margin-bottom: 30px;
}