#resourceModeBox{
    z-index: 3;
    position: absolute;
    margin-top: 4px;
    margin-left: 6px;;
}
#resourceModeBox_select{
    background-color: transparent;
    border: none;
    padding: 0;
    width: auto;
    appearance: none; /*移除默认的外观样式*/
    -webkit-appearance: none; /*Webkit浏览器*/
    -moz-appearance: none; /*Firefox浏览器*/
}