#resourceModeBox{
    z-index: 3;
    position: absolute;
    margin-top: 4px;
    margin-left: 6px;;
}
#resourceModeBox_select{
    background-color: transparent;
    border: none;
    padding: 0;
    width: auto;
}