:root {
  --primary: #ffffff;

  /*--primary: #55ffc7;
  --color1: #cfffef;
  --color2: #b6ffe7;
  --color3: #55ffc7;
  --color4: #2fffba;
  --color5: #22ffb6;
  --color6: rgba(85, 255, 199, 0.5);
  --color7: #15ffb2;
  --color8: #212529;
  --color9: white;
  --color10: #2c8567;
  --color11: #ebfff8;
  --color12: #d2ffef;
  --color13: #1f5f49;
  --color14: rgba(0, 76, 255, 0.1);
  --color15: rgba(85, 255, 199, 0.6);
  --color16: #ffffff;
  --color17: rgba(255, 255, 255, 0.9);
  --color18: rgba(255, 255, 255, 0.3);
  --color19: rgba(255, 255, 255, 0.1);
  --color20: rgba(255, 255, 255, 0.98);*/
}
/* 主题样式 */
[data-theme="dark"] {
  --primary: #000000;
  --logoColor: #ececec;
  --color1: #b8b8b8;
  --color2: #ababab;
  --color3: #000000;
  --color4: black;
  --color5: rgba(0, 0, 0, 0.4) ;
  --color6: rgba(0, 0, 0, 0.5);
  --color7: black;
  --color8: #ffffff;
  --color9: #454545;
  --color10: black;
  --color11: #e0e0e0;
  --color12: lightgray;
  --color13: black;
  --color14: rgba(167, 167, 167, 0.15);/*大标题中的方块颜色*/
  --color15: rgba(0, 0, 0, 0.6);
  --color16: rgb(32, 32, 32);/*主页背景颜色*/
  --color17: rgba(0, 0, 0, 0.9);
  --color18: rgba(0, 0, 0, 0.3);
  --color19: rgba(0, 0, 0, 0.1);
  --color20: rgba(29, 29, 29, 0.98);/*顶栏背景颜色*/
  --color21: rgba(43, 43, 43, 0.9);
  --color22: rgb(32, 32, 32, 0.4);/*卡片颜色，基于color16更改了透明度*/
  /*noinspection HttpUrlsUsage*/
  --home-wrapper_img-url: url(http://cdnjson.com/images/2025/01/13/main2-dark.png);
  --theme-toggle-button_img-url: url(https://s21.ax1x.com/2025/01/19/pEk0LtI.png);/*daylight_detector_2.png*/
  --filter-brightness: 34%;
}
[data-theme="light"] {
  --primary: #ffffff;
  --logoColor: #0c0c0c;
  --color1: #000000;
  --color2: #0c0c0c;
  --color3: #ffffff;
  --color4: white;
  --color5: rgba(255, 255, 255,0.4);
  --color6: rgba(255, 255, 255, 0.5);
  --color7: white;
  --color8: #000000;
  --color9: #a3a3a3;
  --color10: white;
  --color11: #e0e0e0;
  --color12: lightgray;
  --color13: white;
  --color14: rgba(37, 37, 37, 0.15);
  --color15: rgba(255, 255, 255, 0.6);
  --color16: rgb(206, 206, 206);
  --color17: rgba(255, 255, 255, 0.9);
  --color18: rgba(255, 255, 255,0.3);
  --color19: rgba(255, 255, 255, 0.1);
  --color20: rgba(197, 197, 197, 0.98);
  --color21: rgba(212, 212, 212, 0.9);
  --color22: rgb(206, 206, 206, 0.4);
  /*noinspection HttpUrlsUsage*/
  --home-wrapper_img-url: url(http://cdnjson.com/images/2025/01/13/main2-light.png);
  --theme-toggle-button_img-url: url(https://s21.ax1x.com/2025/01/19/pEk0Oht.png);/*daylight_detector_1.png*/
  --filter-brightness: 100%;
}

#themeToggleButton{
  z-index: 3;
  background-image: var(--theme-toggle-button_img-url);
  background-size: contain;
  width: 100px;
  height: 62px;
  position: absolute;
  right: 0;
  margin: 10px;
  transition: transform 0.5s ease;
  display: inline-block;
  clip-path: polygon(43.99% -4.66%, 101% 16.94%, 100% 56.22%, 62.00% 101.22%, -10% 65.32%, -6% 28.49%);
}
#themeToggleButton:hover {
  cursor: pointer;
  transform: scale(1.05);
}