@font-face{
    font-family: "mzd-font" ;
    src: url("../../font/mzd-font.ttf");
}
.text_light{
color:#dc39eb;
text-decoration: none;
font-size:4em;
font-family: "mzd-font";
animation: text_light_a 4s infinite;
user-select:none;
}
@keyframes text_light_a{
    0%,100%{ color:#fff;text-shadow:0 0 10px #dc39eb,0 0 10px #dc39eb; }
    50%{ text-shadow:0 0 10px #dc39eb,0 0 50px #dc39eb; }
}

#home_MainText_Div{
    opacity: 0;
}
@keyframes home_MainText_a{
    to{
        opacity: 1;
    }
}

#home_MainButton{
    opacity: 0;
}
@keyframes home_MainButton_a{
    to{
        opacity: 1;
    }
}

.toggleThemeButton{
    border-style: ridge;
    background-color: var(--primary);
    color: var(--color8);
    border-radius: .25rem;
    transition: all ease .45s;
    border-color:var(--color3);
    border-width:4px;
   
}

.normalFontColor{
    color: var(--color8);
}

.unSelectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -user-drag: none;
}

.unset_unSelectable {
    -moz-user-select: unset;
    -khtml-user-select: unset;
    -webkit-user-select: auto;
    -o-user-select: unset;
    user-select: text;
    
    -webkit-user-drag: unset;
    -moz-user-drag: unset;
    -ms-user-drag: unset;
    -user-drag: unset;
}

#ruleText{
    z-index: 2;
    position: relative;
}


.topBar_ButtonBar {
    padding: 10px;
}

.topBar_ButtonBar:hover {
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: .2s;
}


.dropdown {
    position: relative;
}

.dropdown-menu {
    position: relative;
    margin: -2px 0 0;
}

.dropdown:hover .dropdown-menu {
    display: unset;
}