body{
  background-color: #3e3e3e;
  overflow: hidden;
}

.cache{
  display: none;
  position: absolute;
  width:0;
  height:0;
  top:-10;
  left:-10;
}

@mixin maxScreen{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
@mixin centerText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
}
#gameOver{
  @include maxScreen;
  z-index: 20;
  visibility: hidden;
}
#gameOver .background {
  background-color: black;
  opacity: .6;
  @include maxScreen;
  position: absolute;
}
#gameOver .game-over{
  font-size: 9cqw;
  @include centerText;
  white-space: pre-line;//可用<br>换行
}
#gameOver .game-over .button{
  font-size: 3cqw;
}

#gameStart{
  z-index: 19;
  @include maxScreen;
}
#gameStart .background{
  background-color: black;
  opacity: .6;
  @include maxScreen;
  position: absolute;
}
%ct-size2{
  font-size: 4cqw;
  @include centerText;
}
#gameStart .click-start{
  @extend %ct-size2;
}

#gameLoading{
  z-index: 21;
  @include maxScreen;
  background-color: black;
}
#gameLoading .text{
  @extend %ct-size2;
}

#score-box{
  color: white;
}
#score-box #score{

}

//#region touch
%touch{
  position: fixed;
  z-index: 18;
}
#touch-top{
  @extend %touch;
  //background-color: white;//用于调试
  top:0;
  left:0;
  width:100%;
  height:50%;
  clip-path: polygon(50% 100%, 0 0, 100% 0);//裁剪可显示区域
}
#touch-bottom{
  @extend %touch;
  //background-color: pink;
  bottom:0;
  left:0;
  width:100%;
  height:50%;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
#touch-left{
  @extend %touch;
  //background-color: yellow;
  left:0;
  top:0;
  width:50%;
  height:100%;
  clip-path: polygon(100% 50%, 0 100%, 0 0);
}
#touch-right{
  @extend %touch;
  //background-color: blue;
  right:0;
  top:0;
  width:50%;
  height:100%;
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
}
//#endregion