/*此代码来自 https://github.com/jh3y/whirl 仓库(@author jh3y)。在此对其进行了部分修改*/
@-webkit-keyframes spinning-coin_animation {
  0% {
    -webkit-transform: perspective(160px) rotateY(0deg);
            transform: perspective(160px) rotateY(0deg); }
  10% {
    -webkit-transform: perspective(160px) rotateY(-65deg);
            transform: perspective(160px) rotateY(-65deg); }
  90%,
  100% {
    -webkit-transform: perspective(160px) rotateY(2880deg);
            transform: perspective(160px) rotateY(2880deg); } }
@keyframes spinning-coin_animation {
  0% {
    -webkit-transform: perspective(160px) rotateY(0deg);
            transform: perspective(160px) rotateY(0deg); }
  10% {
    -webkit-transform: perspective(160px) rotateY(-65deg);
            transform: perspective(160px) rotateY(-65deg); }
  90%,
  100% {
    -webkit-transform: perspective(160px) rotateY(2880deg);
            transform: perspective(160px) rotateY(2880deg); } }


.spinning-coin_animation {
  display: flex;
  align-items:center;
  justify-content: center;
}

.spinning-coin_animation:before {
  -webkit-animation: spinning-coin_animation 3s infinite;
  animation: spinning-coin_animation 3s infinite;
  /*border-radius: 100%;
  background-color: var(--primary);*/
  -webkit-transform-origin: center;
  transform-origin: center;
  content: '';
  height: 64px;
  width: 64px;
  background-image: url('https://s21.ax1x.com/2025/01/10/pECLI6e.png');
  background-size: contain;
}