#bigViewForImage{
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.8);
  display: none;
  opacity: 0;
  transition: opacity .8s;
}
#bigViewForImage_imgBox{
  position:relative;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .7;
}