.effect-div{
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  &.effect-div_imgFalling{
    z-index: 1;
    position: absolute;
  }

  &.effect-div_moreLineEffect{
    z-index: 50;
    position: fixed;
    pointer-events: none;
  }
}

#effectCheckBoxDiv{
  position: relative;
  z-index: 3;
  left: 0;
  margin-left: 6px;
  margin-top: 4px;
}