.effect-div{
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  &.effect-div_imgFalling{
    z-index: 1;
    position: absolute;
  }

  &.effect-div_moreLineEffect{
    z-index: 0;
    position: fixed;
  }
}